@charset "utf-8";

/*윗 상품이름 사진*/

     #header-nav > nav > ul > li  { font-weight:bold; color:grey;}


    #sub {
      width: 100%;
      height: 1000px;
      margin: 0 auto;
      
    }

    #sub-main-top {
      width: 1400px;
      height: 850px;
      margin: 0 auto;
      
      
    }

    #sub-main-top > h3 {width:700px; height: 40px; color:grey; padding: 10px 0 0 0;}

    #left-sub {
      width: 700px;
      height: 800px;
      
      float: left;
    }

    

    #right-sub {
      width: 700px;
      height: 800px;
      
      float: right;
    }

   
    li { margin:5px 10px 0 0;}



    li:hover {cursor:pointer;}



    #productbox {width:650px; height:650px; }


    #product {width:650px; height:129px;}

    #product > ul > li > img {float:left; width:119px; height:119px; margin:0 5px 0 0 ;}

    .w1 {width:650px; height:650px;}


    #product > img {width:100%; height:100%; }





    /*가격 ,결재부문*/
    #context {
      width: 600px;
      height: 800px;
      float: right;
    }

    

    #context>h3 {
      width: 600px;
      height: 50px;
      font-size:25px; padding:10px 0 0 0;
      
      border-top:1px solid lightgrey;
    }

    #context> h4 {
      width: 600px;
      height: 60px;
      padding:20px 0 0 0; font-size:20px;
      
      border-bottom:1px solid lightgrey; border-top:1px solid lightgrey;
    }
    

    #context> h5 {
      width: 600px;
      height: 41px;
      padding:10px 0 0 0; 
    }

    #context> table {
      width: 600px;
      height: 330px;
      border-bottom:1px solid lightgrey;
    }

    select {
      width: 300px;
      height: 40px;
      
    }


    #price {
      width: 600px;
      height: 50px;
      
    }

    #price>h4 {
      width: 289px;
      height: 37px;
      
      color:grey;
      float: left;
    }

    #price>ul {
      width: 310px;
      height: 37px;
      color:grey;
      float: right;
      
    }

    #price>ul>li {
      float: right;
      margin: 0px 25px 0px 25px;
    }

    #quantity {
      
      width: 600px;
      height: 90px;
      float: left;
    }

    #quantity > h5 {
      width: 600px;
      height: 60px;
      font-size: 25px;
      text-align: right;
      padding: 10px 0 0 10px;
      border-top:1px solid lightgrey;
    }

    #quantity > h6 {
      width: 600px;
      height: 30px;
      font-size: 8px;
      text-align: right;
      padding: 5px;
      border-top: 1px solid lightgrey;
    }

    #total {
      width: 600px;
      height: 60px;
      
      float: left;
    }

    #total>button {
      width: 190px;
      height: 60px;
      background-color: gray;
      color: white;
      margin: 0 0 0 3px;
    }

    
    /*추천 다른 조명 목록*/

    #sub-middle {width:1400px; height: 600px; margin:0 auto;  border:2px solid lightgrey;}
    #sub-middle > h3 {width: 100%; height:30px;  text-align:center; margin:10px 0 10px 0; }
    .sub-middle-box {width:310px; height:527px;  float:left; margin:10px 0 0 30px; }
    .sub-middle-img {width:300px; height:300px; }
    .sub-middle-img > img {width:100%; height:100%; }
    .sub-middle-img > img:hover {opacity:0.3; cursor:pointer; }
     
    .sub-middle-box > span {font-size:15px; margin:20px 0 0 3px; color: grey;}
     .t {width:310px; height:40px;  border-bottom:1px solid lightgrey; font-size: 20px; font-weight:bold; padding: 3px 0 0 0;}
     .m {width:310px; height:60px; font-size:16px; padding: 20px 0 0 0;}
     .w {width:310px; height:40px; font-size:15px; }

    /*sub 위 상품 문의 배송안내 리뷰 표 부문*/

    #maintop {width:1400px; height:8150px;  margin:0 auto;}
     
    
    #maintop > ul {width:1260px; height:50px; margin:40px auto 0px;}

    #maintop > ul > li {width:300px; height:100%; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; font-size:13px;}
    
    #maintop > ul > li:first-child{border-bottom:none; background-color:white;}


    #maintop > ul > li > a {color:#000; text-decoration:none;}



 
    /*sub 상품 소개부문*/

    #sub-main {width:1060px; height:800px; margin:0 auto;}
    
    #sub-main-img1 {width:1060px; height:5000px;  margin:0 auto;}
    #sub-main-img1 > img {width:1060px; height:500px; margin:10px 0 0 0;}
    #sub-main-img1 > .s {width:1060px; height:50px;  text-align:center; font-size:30px; margin: 20px 0 50px 0;}
    #sub-main-img1 > .b {text-align:center; width:1060px; height:90px; font-size:60px; margin:40px 0 40px 0; font-weight:bold;}
    
    #submainimg1-2 {width:1000px; height:300px; margin:0 auto;}
    #submainimg1-2 > img {width:100%; height:100%;}

    #sub-main-img2 {width:1060px; height:800px;  margin:0 auto; }
    #sub-main-img2 > img {width:700px; height:400px; margin:30px 0 0 150px;}
    #sub-main-img2 > #subimgbox {width:700px; height:300px;  margin:0 auto;}
    #subimgbox > .sub-main-img2-2 {width:300px; height:250px; float:left; margin:10px 0 0 20px;}
    #subimgbox > .sub-main-img2-2 >img {width:100%; height:100%;}

    #sub-main-img3 {width:1060px; height:750px;}
    #sub-main-img3 > img {width:600px; height:200px; margin:0 0 0 220px;}


    #sub-main-img3 > .h {width:1060px; height:80px; text-align:center; font-size:40px; font-weight:bold;}
    #sub-main-img3 > .b {width:1060px; height:60px;  text-align:center; font-size:30px; margin:50px 0 0 0; font-weight:bold;}
    #sub-main-img3 > .l {width:1060px; height:80px; text-align:center; font-size:40px; margin: 0 0 50px 0;}
    #sub-main-img3 > .s {width:1060px; height:150px;  text-align:center; font-size:25px; padding:30px 0 0 0; margin:20px 0 20px 0;}
    

    #sub-main-img4 {width:1060px; height:800px;  }
    #sub-main-img4 > img {width:50%; height:300px; display:block; margin:0 auto; padding: 0 0 10px 0;}
 

    #sub-main-img5 {width:1060px; height:1600px; }
    #sub-main-img5 > img {width:800px; height:400px; margin:70px 0 0 150px;}
    #sub-main-img5 > #subimgbox3 {width:800px; height:820px;  margin: 0 auto;}
    #subimgbox3 > .b {width:800px; height:40px; font-size:30px; text-align:center; margin: 60px 0 0 0; font-weight:bold;}
    #subimgbox3 > .s {width:800px; height:130px; text-align:center; margin: 70px 0 30px 0; font-size:23px;}

    #sub-main-img6 {width:1060px; height:300px; background-color:pink; margin:350px 0 0 0;}
    #sub-main-img6 > img {width:100%; height:450px; }

    /*상품 상세 정보 (배송)*/

    

    #delivery > ul {width:1260px; height:50px; margin:40px auto 0px;}

    #delivery > ul > li {width:300px; height:100%; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; font-size:13px;}
    
    #delivery > ul > li:nth-child(2){border-bottom:none; background-color:white;}


    #delivery > ul > li > a {color:#000; text-decoration:none;}

    #delivery {width:1260px; height:800px; margin:0 auto; padding:80px 0 0 0; } 
    #deliverydetail {width:1260px; height:410px; margin:0 auto; }
    #deliverydetail > ul {margin:30px 0 0 0;}


    /*상품 상세 정보 (후기)*/
    
    #review > ul {width:1260px; height:50px; margin:40px auto 0px;}

    #review > ul > li {width:300px; height:100%; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; font-size:13px;}
    
    #review > ul > li:nth-child(3){border-bottom:none; background-color:white;}


    #review > ul > li > a {color:#000; text-decoration:none;}

    #review {width: 1260px; height:740px; margin:0 auto;}
    #review-tablebox > button {float:right; padding:10px; margin:30px 0 10px 0; }
    #review-tablebox  table { width:1260px; height:400px; margin:60px 0 0 0; border-spacing:0;}
    #review-tablebox  table th {width:80px; border-bottom:1px solid grey;}
    
    #review-tablebox  table td:first-of-type {width:420px; border-bottom:2px solid grey;}
    #review-tablebox  table td:first-of-type > a {text-decoration:none; color:black; margin:0 0 0 20px;}
    #review-tablebox  table td:nth-of-type(2) {width:170px; text-align:center; border-bottom:2px solid grey;}
    #review-tablebox  table td:nth-of-type(3) {width:245px;text-align:center;border-bottom:2px solid grey;}
    #review-tablebox  table td:last-of-type {width:245px;text-align:center;border-bottom:2px solid grey;}

    /*상품 상세 정보 (문의)*/

    #question > ul {width:1260px; height:50px; margin:40px auto 0px;}

    #question > ul > li {width:300px; height:100%; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; font-size:13px;}
    
    #question > ul > li:last-child{border-bottom:none; background-color:white;}


    #question > ul > li > a {color:#000; text-decoration:none;}


    #question {width: 1260px; height:740px; margin:0 auto;}
    #question > button {float:right; padding:10px; margin:30px 0 10px 0;}
    #question > table { width:1260px; height:400px; border-spacing:0;}
    #question > table th {  border-bottom:1px solid grey; width:80px;}
    
    #question > table td:first-of-type {width:420px; border-bottom:2px solid grey;}
    #question > table td:first-of-type > a {text-decoration:none; color:black; margin:0 0 0 20px;}
    #question > table td:nth-of-type(2) {width:170px; text-align:center ;border-bottom:2px solid grey;}
    #question > table td:nth-of-type(3) {width:245px; text-align:center; border-bottom:2px solid grey;}
    #question > table td:last-of-type {width:245px; text-align:center; border-bottom:2px solid grey;}

    /*상품표시테이블*/
    #special {width:1060px; height:600px;  margin:0 auto; }
    #special > h4 {width:1060px; height:50px; background-color:grey; font-size:30px;}
    #special > span {font-size:23px;}
    #special > span {float:right;}
    #special >table {width:1060px; height:500px; background-color:lightgray;}
    #special >table th {background-color:gainsboro; border-bottom:1px solid #eee;}
    #special >table td {border-bottom:1px solid #eee; text-align:center;}

    



  
   
